{% extends 'pizza/base.html' %}
{% load static %}

{% block content  %}
    <h3> Your current orders</h3>
    <div class="container">
  <div class="row">
        {% for order in orders %}
      <div class="card" style="width: 18rem;margin: 1rem">
  <div class="card-body" style="align-content: center">
    <h5 class="card-title" style="margin-left: 20px;color: #1d1f1d"> {{ order.user }}'s  order</h5>

           <p class="card-text" style="color: #1d1f1d">order id :<span style="color: #1c4a06"> {{ order.id }}</span> </p>
           <p class="card-text" style="color: #1d1f1d">Topping 1:<span style="color: #1c4a06"> {{ order.topping1}}</span></p>
           <p class="card-text" style="color: #1d1f1d">Topping 2:<span style="color: #1c4a06"> {{ order.topping2}}</span></p>
           <p class="card-text" style="color: #1d1f1d">Size     :<span style="color: #1c4a06"> {{ order.size }}</span></p>


    <a href="{% url 'delete' order.id %}" class="btn btn-primary" style="margin: 10px">Delete</a>
  </div>
</div>
         {% endfor %}
    <div class="col">

    </div>


  </div>
     <a href="{% url 'order' %}" class="btn btn-primary">Order more </a>
</div>


{%  endblock %}