{% extends 'pizza/base.html' %}
{% load static %}

{% block content  %}
    <h3> Your current orders</h3>
    <div class="container">
  <div class="row">
        {% for order in orders %}
      <div class="card" style="width: 18rem;">
  <div class="card-body" style="align-content: center">
    <h5 class="card-title">order {{ order.id }}</h5>

           <p class="card-text">order id : {{ order.id }}</p>
           <p class="card-text">Topping 1:{{ order.topping1 }}</p>
           <p class="card-text">Topping 2:{{ order.topping2 }}</p>
           <p class="card-text">Size     :{{ order.size }}</p>
       <p class="card-text">USER    :{{ order.user }}</p>

    <a href="{% url 'order' %}" class="btn btn-primary">Details</a>
  </div>
</div>
         {% endfor %}
    <div class="col">

    </div>

  </div>
</div>


{%  endblock %}