{% extends 'pizza/base.html' %}
{% block content %}
  {% load widget_tweaks %}
  <div class="container">
  <h4 style="color: #f5dd5d"> order a pizza here</h4>
<h6>{{ note }}</h6>
{% if created_pizza_pk %}
<a href="{% url 'edit_order' created_pizza_pk %}"   class = "btn btn-primary" >Edit your order</a>
{% endif %}
<form  action="{% url 'order' %}" method="POST" style="margin: 1rem">
    {% csrf_token %}
    {%for field in pizzaForm %}
        <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }}
        {% render_field field class="form-control" %}
        </div>
    {% endfor %}

    <input type="submit" value="order" class="btn btn-primary">
</form>
<br><br>

  </div>
{% endblock %}



 