<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> order a pizza here</h1>
<h3>{{ note }}</h3>
{% if created_pizza_pk %}
<a href="{% url 'edit_order' created_pizza_pk %}">Edit your order</a>
{% endif %}
<form  action="{% url 'order' %}" method="POST">
    {% csrf_token %}
    {{ pizzaForm }}
    <input type="submit" value="order">
</form>
<br><br>
want more than one pizza?
<form action="{% url 'pizzas' %}" method = "GET">
    {{ multiple_form }}
    <input type="submit" value="get pizzas">

</form>

</body>
</html>